@import '@angular/material/prebuilt-themes/pink-bluegrey.css'; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-image: url('/assets/fon5.jpg'); /* Путь к вашему изображению */
  background-size: cover; /* Изображение растягивается или сжимается, чтобы покрыть всю область */
  background-position: center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Изображение не повторяется */
}
